:root{
    --primary-color: #E95A08;
    --dark: #111111;
    --text-color: #00000080;

    --primary-font: "Noto Serif", serif;
    --secondary-font: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
    font-family: var(--primary-font);
}
p,li{
    color: var(--text-color);
    font-size: 22px;
}

section{
    padding: 60px 0px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 12px;
}

.section_title{
    color: var(--dark);
    font-weight: 700;
    font-size: 50px;
}
.section_title span{
    color: var(--primary-color);
}

.btn{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 30px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color: var(--dark);
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.nav_link{
    color: #8987A1;
    text-transform: capitalize;
    transition: .4s all ease;
}
.nav_link:hover{
    color: var(--dark);
    transition: .4s all ease;
}
.nav_btn{
    font-family: var(--secondary-font);
    font-weight:400;
}

/* Plants section */
.flower_name{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--dark);
}
.flower_price{
    color: var(--dark);
    font-size: 22px;
    font-weight: 700;
}

.badge {
    animation: spin 10s linear infinite;
  }

@media only screen and (min-width: 200px) and (max-width: 767px) {
    p,li{
        font-size: 14px;
    }
    .flower_name,.flower_price,.btn{
        font-size: 16px;
    }
    .section_title{ 
        font-size: 24px;
    }
    section{
        padding: 25px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    p,li{
        font-size: 18px;
    }
    .flower_name,.flower_price,.btn{
        font-size: 12px;
    }
    .section_title{ 
        font-size: 30px;
    }
    section{
        padding: 30px 0px;
    }
}

/* Spin Animation */
@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}